.cardContainer {
  max-width: 600px;
  padding: 12px;
  margin: 0 auto;
}

.cardImg {
  img {
    max-width: 100%;
    border-radius: 8px;
  }
}

.cardBody {
  p {
    padding: 4px 0;
  }
  b {
    width: 100px;
    display: inline-block;
  }
}
